<ul class="list-group">

<li class="list-group-item list-group-item-primary"><h1><%= @book.title %></h1></li>
<li class="list-group-item list-group-item-warning"><h6><%= @book.author %></h6></li>
<li class="list-group-item list-group-item-warning"><p><%= @book.description %></p></li>

</ul>
<%= link_to "Back", root_path %>

<% if user_signed_in? %>

  <% if @book.user_id == current_user.id %>
    <%= link_to "Edit", edit_book_path(@book) %>
    <%= link_to "Delete", book_path(@book),  method: :delete, data: { confirm: "Are you sure?"} %>
  <% end %>

<% end %>
