<!DOCTYPE html>
<html>
  <head>
    <title>BookReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
　<body>
    <nav class="nav nav-pills flex-column flex-sm-row">
      <%= link_to "Book Review", root_path, class: "flex-sm-fill font-weight-bold bg-info text-white nav-link active" %>
      <%= link_to "Add Book", new_book_path, class: "flex-sm-fill  bg-success  text-center text-white nav-link active" %>
      <a class="flex-sm-fill text-sm-center nav-link" href="#">Link</a>
      <a class="flex-sm-fill text-sm-center nav-link disabled" href="#">Disabled</a>
    </nav>
  </body>
  
  <body>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
